<!DOCTYPE html>
<html>
  <head>
    <script src = "/javascripts/lib/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
  <div>
    <a href='/' class = 'email name'>WALKER FLYNN</a>
  </div>
  <div>
    <a href = 'mailto:walker.d.flynn@gmail.com' class = 'email'>walker.d.flynn@gmail.com</a>
  </div>
	<div class= 'centerdiv'>
    <div class = 'something'>
      <a class = 'externals github' href = '/github' target="_blank">
        GitHub
      </a>
      <a class = 'externals linkedIn' href = '/LinkedIn' target="_blank">
        LinkedIn
      </a>
      <a class = 'externals tumblr' href = '/cargo' target="_blank">
        Cargo Collective
      </a>
    </div>
    <a class = 'webGL link' href='/webGL'>
      WebGL Experiment
    </a>
    <a class = 'design link' href='/calendarDemo' target="_blank">
      Angular Scheduling App
    </a>
    <a class = 'fml link' href='/fml' target="_blank">
      #FML
    </a>
    <a class="ideaful link" target="_blank" href="http://ideaful.co">
      Ideaful
    </a>
    <a class="carousel link" href="http://walfly.github.io/artgallery/" target="_blank">
      Carousel
    </a> 
<!--     <a class="hydroponics link" target="_blank">
      Small Vertical Hydroponic Kit
    </a> -->
	</div>
  </body>
</html>
