<!DOCTYPE html>
<html>
  <head>
    <script src = "/javascripts/jquery.js"></script>
  </head>
  <body>
	<div class= 'centerdiv'>
		<a class = 'aboutMe link' href = '/aboutMe'>
			About Me
		</a>
    <div class = 'something'>
  		<a class = 'externals github' href = '/github'>
  			GitHub
  		</a>
      <a class = 'externals linkedIn' href = '/LinkedIn'>
        LinkedIN
      </a>
      <a class = 'externals tumblr' href = '/tumbler'>
        Tumblr
      </a>
    </div>
		<a class = 'webGL link' href='/webGL'>
			WebGL Experiments
		</a>
		<a class = 'design link' href='/design'>
			Design
		</a>
		<a class = 'resume link' href='/resume'>
			Resume
		</a>
	</div>
  </body>
</html>
