<!DOCTYPE html>
<html>
  <head>
    <script src = "/javascripts/lib/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  </head>
  <body>
  <div>
    <a href='/' class = 'email name'>WALKER FLYNN</a>
  </div>
  <div>
    <a href = 'mailto:walker.d.flynn@gmail.com' class = 'email'>walker.d.flynn@gmail.com</a>
  </div>
	<div class= 'centerdiv'>
    <div class = 'aboutresume'>
		<a class = 'aboutMe personals' href = '/aboutMe'>
			About Me
    </a>
		<a class = 'resume personals' href='/resume'>
			Resume
		</a>
  </div>
    <div class = 'something'>
      <a class = 'externals github' href = '/github' target="_blank">
        GitHub
      </a>
      <a class = 'externals linkedIn' href = '/LinkedIn' target="_blank">
        LinkedIn
      </a>
      <a class = 'externals tumblr' href = '/tumbler' target="_blank">
        Tumblr
      </a>
    </div>
    <a class = 'webGL link' href='/webGL'>
      WebGL Experiment
    </a>
    <a class = 'design link' href='/hashtags' target="_blank">
      Hashtags Game (built for mobile web)
    </a>
	</div>
  </body>
</html>
