body {
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.email{
  color: black;
}

.name{
  letter-spacing: 4px;
  word-spacing: 5px;
}

.centerdiv{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 500px;
  margin-left: -250px;
  margin-top: -200px;
}
.aboutresume{
  width: 500px;
  margin-bottom: 10px;
}


.personals {
  /*opacity: 70%;*/
  /*box-shadow: inset 0px 0px 10px;*/
  padding-top: 30px;
  /*padding-right: 5px;*/
  margin-bottom: 10px;
  height: 50px;
  text-align: center;
  display: inline-block;
  width: 249px;
}

.personals:hover{
  box-shadow: inset 0px 0px 10px;
}

.aboutsme{
  border: 3px solid #B7D1BF;
  background-color: #B7D1BF;
  border-radius: 5px;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 418px;
  width: 480px;
  margin-left: -250px;
  margin-top: -200px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
}

.aboutspan{
  color: black;
  text-align: auto;
  line-height: 23px;
  margin-right: 20px;
  margin-left: 20px;
}


.link {
  opacity: 70%;
  /*box-shadow: inset 0px 0px 10px;*/
  padding-top: 30px;
  padding-right: 5px;
  margin-bottom: 10px;  
  height: 50px;
  text-align: center;
  display: block;
  width: 500px;
  -webkit-transition: text-align 10s;
}

.externals {
  opacity: 70%;
  /*box-shadow: inset 0px 0px 10px;*/
  padding-top: 30px;
  /*padding-right: 5px;*/
  margin-bottom: 10px;
  border-radius: 2px 2px 2px 2px;
  background-color: #F28F7B;  
  height: 50px;
  text-align: center;
  display: inline-block;
  width: 164px;
}

.externals:hover{
  box-shadow: inset 0px 0px 10px;
}

.github{
  float: left;
}

.linkedIn{
  margin-left: 6.5px;
  margin-bottom: auto;
}

.tumblr{
  margin-right: -5px;
  position: absolute;
  /*float: right;*/
  right:0;
}

.something{
  width: 500px;
  margin-bottom: 10px;
}

.link:hover {
  box-shadow: inset 0px 0px 10px;
}

.aboutMe{
  border-radius: 2px 5px 2px 2px;
  margin-right: -5px;
  background-color: #B7D1BF;
  float: right;
}

.webGL{
  border-radius: 2px 2px 2px 2px;
  background-color: #A09FCC;
}

.design{
  border-radius: 2px 2px 5px 5px;
  background-color: #CD807F;
}

.designDiv{
  border-radius: 5px 5px 5px 5px;
  background-color: #FDD27E;
  font-size: 40px;
}

.resume{
  border-radius: 5px 2px 2px 2px;
  background-color: #B7D1BF;
  float: left;
}


.generatorPage{
  width: 200px;
  background-color: rgba(255, 255, 255, 0); 
  z-index: 1;
}

.generatorEmail{
  width: 200px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0); 
}

.parameters{
	position: relative;
	display: inline;
	top: 10px;
	z-index: 1;
  float: right;
	width: 30%;
	text-align: right;
}

.parameters .slider {
  width: 200px;
  position: relative;
  left: 200px;
  color: white;
  text-align: center;
  z-index: 1;
  top: -5px;
  pointer-events:none;
}

#container{
	width: 70%;
	height: 100%;
}

.parameters input{
	margin-right: 40px;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: #A09FCC;
    z-index: 0;
    width: 200px;
    height:20px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #A09FCC;
    z-index: 2;
    opacity: 0.9;
    width: 10px;
    height: 26px;
}

button {
      display: block;
      border: 0 none;
      border-radius: 2px 2px 2px 2px;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      line-height: 20px;
      background-color: #A09FCC;
      margin-bottom: 0;
      margin-top: 10px;
      margin-right: 40px;
      padding: 7px 10px;
      text-transform: none;
      transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      width: 200px; /* auto */
      text-align: center; /* DELETE WHEN WIDTH AUTO */
}

button:hover{
  box-shadow: inset 0px 0px 10px;
}

@media only screen and (max-width: 600px) {

  .centerdiv{
    position: absolute;
    left: 50%;
    margin-top: -100px;
    top:50%;
    width: 350px;
    margin-left: -100px;
    font-size: 16px;
  }
  .aboutresume{
    width: 350px;
    margin-bottom: 10px;
  }

  .aboutsme{
    font-size: 16px;
    position: relative;
    height: auto;
    width: 340px;
    left: 0;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 5px;
  }

  .personals {
    width: 174px;
  }
  .link {
    width: 350px;
  }

  .externals {
    box-sizing: border-box;
    height: 80px;
    width: 114px;
  }
}