body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#parameters{
	position: relative;
	display: inline;
	top: 10px;
	z-index: 1;
    float: right;
	width: 30%;
	text-align: right;
}

#container{
	width: 70%;
	height: 100%;
}

#parameters input{
	margin-right: 40px;
}